datacenter.location=sec-dev

login.location=sec-dev-launch01.intdata.com
login.location.port=12348

criticalapps.filter=WAITING
criticalapps.filter=LAGGED
criticalapps.filter=TIMEOUT
criticalapps.filter=ADMIN DOWN
criticalapps.filter=QUEUE
criticalapps.filter=ERROR
criticalapps.filter=COULD NOT CREATE SOCKET
criticalapps.filter=END OF SESSION